<div>
  <label>Board ID:</label>
  <input type="text" id="board-id" value="4ea227a8223751dfe619f573"/>
</div>
<div>
  <label>Carderizer URL:</label>
  <input type="text" id="cardorizer-url" value="http://nyc-dev-tools1.corp.yodle.com/cardorizer/"/>
</div>
<div>
  <input type="button" id="make-carderizer" value="Make Carderizer"/>
</div>

<div id="carderizer-bookmarklet">
</div>
